.container > h2 {
  text-align: center;
}

.container__happiness > h3 {
  color: #457b9d;
  margin-top: 10px;
}
.container__sadness > h3 {
  color: #e63946;
  margin-top: 10px;
}
.container__todoApp > h3 {
  color: #1d3557;
  margin-top: 10px;
}
