.container {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
}
.container > h2 {
  text-align: center;
}

.container__happiness > h3 {
  color: #457b9d;
}
.container__sadness > h3 {
  color: #e63946;
}
.container__todoApp > h3 {
  color: #1d3557;
}
