.form__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.form__container > form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container .form__group {
  width: 100%;
  margin: 1.25rem 0;
}

.form__group > label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.15rem;
}

.form__group > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1.25rem 0.5rem;
  border-bottom: 1px solid gray;
  transform-origin: center;
  font-size: 1rem;
}

.form__group > input:focus {
  background-color: rgb(236, 236, 255);
}

.form__container .form__submit {
  width: 100%;
  margin-top: 1rem;
}

.form__container .form__submit > button {
  border: none;
  padding: 0.7rem 0.9rem;
  cursor: pointer;
  background-color: rgb(23, 23, 90);
  color: whitesmoke;
}

.form__container .form__submit > button:hover {
  background-color: rgb(36, 36, 118);
}
